/* GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,300;0,700;1,300&family=Shrikhand&display=swap');

:root{
  --background: #ffd58e;
  --orange: #ff9b5a;
  --light-red: #f26249;
  --red: #ec2f3b;
  --aqua: #52b3b6;
  --blue: #007291;
  --logo: 'Monoton', sans-serif;
  --h2: 'Shrikhand', cursive;
  --h3-p:'Montserrat', sans-serif;
}

#root{
  background-color: var(--background);
  height: 1500px;
  background-image: linear-gradient(to right, white , #f5d69b, #ffd58e);

  /* background-image: ("https://www.muralswallpaper.com/app/uploads/70s-rainbow-wave-retro-wallpaper-mural-Plain-820x532@2x.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

Link, a{
  text-decoration: none;
  color: none;
  cursor: pointer;
}

h1{
  font-family: var(--logo);
  color: var(--red);
}

h2{
  font-family: var(--h2);
  color: var(--light-red);
}

p{
  font-family: var(--h3-p)
}

.submit-button{
  border-radius: 12px;
  border: none;
  background-color: var(--aqua);
  color: white;
  padding: 15px 30px;
  font-size: 1.3rem;
  font-family: var(--h3-p);
  font-weight: 700;
  margin: 10%
}

label{
  font-family: var(--h3-p);
  margin: 5%
}

input{
  border: 2px solid var(--orange);
  border-radius: 5px;
  margin: 5%;
  padding: 5%
}

button{
  border: 2px solid var(--red);
  border-radius: 50%;
  padding: 15px 30px;
  font-size: 1rem;
  font-family: var(--h3-p);
}

/* NAV */

.nav-div{
  background-color: var(--aqua);
}

.nav-brand{
  font-family: var(--logo);
}

.nav-link{
  font-family: var(--h2);
}


/* LOGIN COMPONENET  */

.login-div {
  margin: 10%
}

.login-h1{
  font-size: 3rem
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-create{
  color: black;
  text-align: center;
}

.login-create:hover{
  text-decoration: underline;
}

/* USER REGISTRATION */
.userReg-div{
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* LEADS COMPONENT */


.leads-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lead-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, white , #f5d69b, #ffd58e);
}

.company-header {
  margin-top: 2px;
  padding-left: 18px;
  margin-bottom: 0;
  box-shadow: 0 10px 6px -10px black;
  background-image: linear-gradient(to right, white , #f5d69b, #ffd58e);
  border-bottom: 1px solid rgb(160, 160, 160);
}

.lead-company-name {
  margin-bottom: 0;
  margin-left: 7px;
  padding: 10px;
}

.lead-button {
  font-size: 12px;
  border-radius: 50%;
  padding: 7px 6px;
  background-color: #a4d2d3;
  font-weight: lighter;
  margin-top: 4px;
  margin-bottom: 4px;
}

.division-article {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.division-div {
  background-image: linear-gradient(to right, white , #f5d69b, #ffd58e);
}

.division-h2 {
  margin-top: 4px;
  padding-left: 18px;
}

.division-h3 {
  padding-left: 16px;
  font-family: 'Shrikhand', cursive;
  font-size: 16px;
  color: #ff9b5a
}


